<ul local-class="navbar-main">
  <li>
    {{#link-to "manage" tagName="a"}}
      <img src="../images/Cadillac-logo.png" alt="">
    {{/link-to}}
  </li>
  <li>
    {{#link-to "sales.trims" tagName="a" activeClass="active"}}
      <span>{{t "build.trims.trims"}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to "sales.color" tagName="a"}}
      <span>{{t "build.color.color"}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to "sales.exterior" tagName="a"}}
      <span>{{t "build.exterior.exterior"}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to "sales.interior" tagName="a"}}
      <span>{{t "build.interior.interior"}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to "sales.accessories" tagName="a"}}
      <span>{{t "build.accessories.accessories"}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to "sales.summary" tagName="a"}}
      <span>{{t "build.summary.summary"}}</span>
    {{/link-to}}
  </li>
</ul>