<input
  type="radio"
  id={{forId}}
  checked={{eq selectedVehicle vehicle.id}}
  onclick={{action toggleSelectVehicle vehicle.id}}
>
<label for={{forId}}></label>
<img src={{vehicle.defaultImgSrc}} alt={{vehicle.value}}>
