<div style="margin-top: 6rem">
  {{#link-to "login" tagName="a"}}
    {{ui-button "Login" color="border"}}
  {{/link-to}}

  {{#link-to "sales.trims" tagName="a"}}
    {{ui-button "Sales" color="border"}}
  {{/link-to}}

  {{#link-to "manage.client" tagName="a"}}
    {{ui-button "Manage Client" color="border"}}
  {{/link-to}}

  {{#link-to "manage.order" tagName="a"}}
    {{ui-button "Manage Order" color="border"}}
  {{/link-to}}

  {{#link-to "manage.finance" tagName="a"}}
    {{ui-button "Manage Finance" color="border"}}
  {{/link-to}}

  {{#link-to "repertory.vehicles" tagName="a"}}
    {{ui-button "Repertory Vehicles" color="border"}}
  {{/link-to}}

  {{#link-to "repertory.vehicles.warehouse" tagName="a"}}
    {{ui-button "Repertory Vehicles Warehouse" color="border"}}
  {{/link-to}}

  {{#link-to "repertory.accessories" tagName="a"}}
    {{ui-button "Repertory Accessories" color="border"}}
  {{/link-to}}

  {{#link-to "repertory.accessories.warehouse" tagName="a"}}
    {{ui-button "Repertory Accessories Warehouse" color="border"}}
  {{/link-to}}

  {{!-- {{#link-to "price.vehicles" tagName="a"}}
    {{ui-button "Price Vehicles" color="border"}}
  {{/link-to}}

  {{#link-to "global.vehicles" tagName="a"}}
    {{ui-button "Global Vehicles" color="border"}}
  {{/link-to}}

  {{#link-to "global.vehicles.creating" tagName="a"}}
    {{ui-button "Global Vehicles Creating" color="border"}}
  {{/link-to}} --}}
</div>
